
PIN "E"	LOC = P63;
PIN "RW"	LOC = P60;
PIN "D<0>"	LOC = P32;
PIN "D<1>"	LOC = P34;
PIN "D<2>"	LOC = P36;
PIN "D<3>"	LOC = P10;
PIN "D<4>"	LOC = P8;
PIN "D<5>"	LOC = P6;
PIN "D<6>"	LOC = P4;
PIN "D<7>"	LOC = P46;
PIN "_CSE"	LOC = P62;
PIN "A<0>"	LOC = P18;
PIN "A<1>"	LOC = P31;
PIN "A<2>"	LOC = P35;
PIN "A<3>"	LOC = P33;
PIN "A<4>"	LOC = P38;
PIN "A<5>"	LOC = P16;
PIN "A<6>"	LOC = P15;
PIN "A<7>"	LOC = P9;
PIN "A<8>"	LOC = P7;
PIN "A<9>"	LOC = P5;
PIN "A<10>"	LOC = P47;
PIN "A<11>"	LOC = P64;
PIN "_IRQ"	LOC = P19;
PIN "_RST"	LOC = P17;
PIN "_ROMCE"	LOC = P39;
PIN "SD_CS"	LOC = P13;
PIN "SD_SCK"	LOC = P2;
PIN "SD_MOSI"	LOC = P12;
PIN "SD_MISO"	LOC = P1;
PIN "SON<0>"	LOC = P43;
PIN "SON<1>"	LOC = P44;
PIN "SON<2>"	LOC = P45;
PIN "SON<3>"	LOC = P48;
PIN "SON<4>"	LOC = P49;
PIN "SON<5>"	LOC = P50;
PIN "J1<0>"	LOC = P20;
PIN "J1<1>"	LOC = P23;
PIN "J1<2>"	LOC = P24;
PIN "J1<3>"	LOC = P25;
PIN "J1<4>"	LOC = P22;
PIN "J1<5>"	LOC = P27;
PIN "J2<0>"	LOC = P51;
PIN "J2<1>"	LOC = P56;
PIN "J2<2>"	LOC = P57;
PIN "J2<3>"	LOC = P58;
PIN "J2<4>"	LOC = P52;
PIN "J2<5>"	LOC = P59;
